body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex;
  flex-direction: column; /* Stack blockquote and button vertically */
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  background-image: url("../static/images/frankenstein.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  line-height: 1.6;
  margin-bottom: 20px; 
}

button {
  font-size: 1rem; 
  color: #333; 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 10px 20px; 
  border: none; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  cursor: pointer; 
  transition: transform 0.2s, background-color 0.3s ease; 
}

button:hover {
  background-color: rgba(255, 255, 255, 1); 
  transform: scale(1.05); 
}

button:active {
  transform: scale(0.95); 
}

